@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Serif+JP:wght@200&display=swap');

:root {
    --cursor: normal;
}
body, html {
    height: 100%;
}
body {
    background-color: black;
}
* {
    margin: 0;
    padding: 0;
    cursor: var(--cursor);
}
div {
    background-image: url("image.jpg");
    height: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: grid;
}
.welcome {
    place-self: center;
    font-size: 10rem;
    font-family: 'Noto Serif JP', serif;
    font-weight: lighter;
}